.left-main-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 2px solid black;
    border-radius: 20px;
    margin: 1rem;
    padding: 1rem;
}

.single-project-container {
    border: 2px solid black;
    border-radius: 20px;
    padding: 1rem;
    margin-block: 1rem;
}

.single-project-container:hover {
    background-color: darkgray;
    cursor: pointer;
}