.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid black;
    border-radius: 20px;
    margin: 1rem;
    padding: 1rem;
}

.single-todo-container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;
    padding: 1rem;
    margin-block: 1rem;
    position: relative;
}

/* .single-todo-container:hover {
    background-color: darkgray;
    cursor: pointer;
} */

.edit {
    position: absolute;
    bottom: 10px;
    right: 35px;
}

.delete {
    position: absolute;
    bottom: 10px;
    right: 15px;
}
